@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")

#face
    min-height: 100vh
    background-color: #000000
    padding-top: 45vh
    text-align: center
    h1
        color: #ffffff
    h2
        color: #ffff00
    a
        color: #ffffff
    
#challenge
    background-color: #000000
    h2,h4
        color: #ffffff
    p 
        color: #d1ccbe

#counter
    min-height: 10vh
    line-height: 1
    .part
      font-size: 2rem
      color: yellow
      text-align: center

#footer
    padding-top: 3vh
    min-height: 10vh
    background-color: #f5d907
    text-align: center
